<head>
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
<h1>Contact me</h1>
<hr />

<h3>Leave me a message below</h3>
<form>
	<input type="text">
	<input type="submit" />
</form>

<a href="/">Home</a>
<br />
<a href="/resume">Resume</a>
</body>